/.idea/
/section-6/node_modules/
/section-6/data/
/section-6/.next/
/section-5/.next/
/section-5/node_modules/
/section-4/.next/
/section-4/node_modules/
/section-3/05-onwards-foodies-starting-project/.next/
/.idea/
