/.idea/
/section-6/node_modules/
/section-6/data/
/section-6/.next/
/section-5/.next/
/section-5/node_modules/
/section-4/.next/
/section-4/node_modules/
/section-3/05-onwards-foodies-starting-project/.next/
/section-7/.next/
/section-7/node_modules/
/section-5/.next/
/section-5/node_modules/
/section-9/.next/
/section-9/node_modules/
/section-10/.next/
/section-10/node_modules/
/section-12/.next/
/section-12/node_modules/
/section-13/.next/
/section-13/node_modules/
/section-14/.next/
/section-14/node_modules/
/.idea/
